# Virtual environment
venv/
env/
.venv/

# Python cache
__pycache__/
*.py[cod]
*$py.class

# Byte-compiled / optimized files
*.pyo
*.pyd

# Distribution / packaging
dist/
build/
*.egg-info/

# Logs
*.log

# Environment variables
.env

# IDEs
.vscode/
.idea/

# OS files
.DS_Store
Thumbs.db

*.faiss
*.db
uploads/
outputs/